.App {
  font-family: sans-serif;
  text-align: center;
}

input,
label {
  display: block;
  width: 100%;
  padding: 10px;
}

button {
  margin-top: 20px;
}

.panel {
  border: 2px solid #333;
}

.panel p {
  color: red;
}